@page "/eventOverview"

<h3>Event Overview</h3>

<div class="m-2 d-flex justify-content-end">
    <button @onclick="AddNewEvent" class="me-1">Add Event</button>
    <button @onclick="ExportEvents" class="me-1">Export Events</button>
</div>

@if(Events == null){
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Event Name</th>
                <th>Event Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ev in Events)
            {
                <tr>
                    <td><img src="@(ev.ImageUrl)" class="event-image"/></td>
                    <td class="event-name">@ev.Name</td>
                    <td class="event-date">@ev.Date.ToShortDateString()</td>
                    <td>
                        <a href="@($"eventDetails/{ev.EventId}")" class="event-purchase-button btn">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}